<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>pgateway</display-name>

	<servlet>
		<servlet-name>AsyncGateServlet</servlet-name>
		<servlet-class>com.yjfei.pgateway.servlet.AsyncGateServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>AsyncGateServlet</servlet-name>
		<url-pattern>/pgate/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.yjfei.pgateway.servlet.InitializeServletListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>FilterManagerServlet</servlet-name>
		<servlet-class>com.yjfei.pgateway.servlet.FilterManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilterManagerServlet</servlet-name>
		<url-pattern>/admin/scriptmanager/*</url-pattern>
	</servlet-mapping>
</web-app>